{% extends 'catalog/base.html'%}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for product in object_list %}
    <div class="card" style="width: 18rem;">
        <img src="{{ product.image | media_filter }}" class="card-img-top" alt="product">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <h4 class="card-text">{{ product.price }}</h4>
            <p class="card-text">{{ product.description|truncatechars:100 }}</p>
            <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-primary">Подробнее о товаре</a>
            {% if perms.catalog.can_unpublish_product or user == product.owner %}
                <a href="{% url 'catalog:product_update' product.id %}" class="btn btn-secondary">Редактировать</a>
                <a href="{% url 'catalog:product_delete' product.id %}" class="btn btn-danger">Удалить</a>
            {% endif %}
            <a href="{% url 'catalog:home' %}" class="btn btn-success">Назад</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}